pkgbase = openocd-ht32
	pkgdesc = openocd-git with HT32F165x support
	pkgver = 0.10.0.r1089.g3bfe49266
	pkgrel = 1
	url = http://openocd.org
	arch = i686
	arch = x86_64
	arch = arm
	arch = aarch64
        arch = armv7h
	license = GPL
	makedepends = git
	makedepends = automake>=1.11
	makedepends = autoconf
	makedepends = libtool
	makedepends = tcl
	depends = libftdi
	depends = libftdi-compat
	depends = libusb
	depends = libusb-compat
	depends = hidapi
	provides = openocd
	conflicts = openocd
	options = !strip
	source = openocd-git::git+https://repo.or.cz/openocd.git
	md5sums = SKIP
	sha1sums = SKIP

pkgname = openocd-ht32

